.aider.tags*
.aider.chat*
.aider.input*
.aider.llm*
/.env
*.db
jamie
/tmp
*.sql.go
/db/db.go
/db/models.go
/*.ogg
/*.opus
/*.mp3
/*.bak
/node_modules
*_templ.go
*_templ.txt
*.test
*.out
.idea/
.vscode/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
