[Unit]
Description=Jamie Discord Bot Listener Service
After=network.target postgresql.service

[Service]
ExecStart=/usr/local/bin/jamie listen
Restart=always
User=jamie
Group=jamie
Environment=DATABASE_URL=postgres://jamie:jamie@localhost:5432/jamie

[Install]
WantedBy=multi-user.target
